$sans: 'franklin-gothic-urw', 'ITC Franklin Gothic', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$serif: 'adobe-caslon-pro', 'Adobe Caslon Pro', Georgia, 'Times New Roman', Times, serif;
$monospace: Consolas, 'inconsolata', Monaco, 'Courier New', Courier, monospace;

$line_height: 1.5;

$offwhite: #fbf8f3;
$bodycolor: #373133;
$orange: #d74824;
$gray: #373133;
$light_gray: #9da4a8;
$faint_gray: #d6d6d6;

$max_width: 1000px;
$col: 82px;
$gutter: 20px;
$button_input_padding: 4px 9px;