$sans: 'franklin-gothic-urw', 'ITC Franklin Gothic', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$serif: 'adobe-caslon-pro', 'Adobe Caslon Pro', Georgia, 'Times New Roman', Times, serif;
$monospace: Consolas, 'inconsolata', Monaco, 'Courier New', Courier, monospace;

$line_height: 1.5;

$offwhite: #fbf8f3;
$bodycolor: #373133;
$orange: #d74824;
$blue: #1C6588;
$gray: #373133;
$light_gray: #9da4a8;
$faint_gray: #d6d6d6;
$faintest_gray: rgba(0,0,0,.07);

$rwd_color: #5c0102;
$html5_color: #df4e28;
$jquery_color: #1d69ad;
$javascript_color: #EED94C;
$angular_color: #E52A3A;
$sass_color: #ce4dd6;
$git_color: #e95235;
$grunt_color: #FBA918;
$photoshop_color: #2c1a77;
$illustrator_color: #574220;
$wordpress_color: #464646;
$drupal_color: #195ea0;
$ee_color: #27333c;
$rails_color: #5c0102;
$django_color: #092e20;
$html_color: $html5_color;
$js_color: $jquery_color;
$php_color: #666699;
$ruby_color: $rails_color;
$python_color: $django_color;
$objc_color: #7B3F00;
$react_color: #292929;
$sketch_color: #f7b500;

$max_width: 1000px;
$col: 82px;
$gutter: 20px;
$button_input_padding: 4px 9px;
