.DS_Store
resources/*
.sass-cache*
css/*
!css/.gitkeep
*-ck.js
*.min.js
_site/*
*.zip
deploy.sh
.jekyll-cache/*
.idea
.vscode

# Gatsby
node_modules/
.cache/
public/
.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
*.swp
*.swo