---
layout: default
title: Blog Archive
class: blog
---

<h1>{{ title }}</h1>

{% include search_form.html %}

<br />

<ul class="link_list">
  {% for post in collections.posts %} {% unless post.data.draft %}
  <li>
    <a href="{{ post.url }}">
      <h3>
        <span class="title">{{ post.data.title }}</span>
        <span class="inner_subhead">{{ post.date | date: "%-m/%-d/%Y" }}</span>
      </h3>
    </a>
  </li>
  {% endunless %} {% endfor %}
</ul>

<div class="blog_navigation">
  <a href="{{ site.feed_url }}" class="button">Subscribe via RSS {% include icons/rss.svg %}</a>
</div>
