---
layout: default
class: blog
---

<article>

	<h1>{{ page.title }} <span class="inner_subhead">{% if page.draft %}<span style="alert">DRAFT</span> {% endif %}{{ page.date | date: "%m/%d/%Y" }}</span></h1>

	{{ content | replace: '&amp;', '&' }}

</article>

{% if page.comments  %}
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_shortname = 'chrisltd';
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
{% endif %}

<div class="blog_navigation">
	<a href="/blog/archive.html" class="button">Browse the blog archive <i class="ss-icon ss-standard">&#x27A1;</i></a>
</div>