---
layout: default
class: blog
---

<article>

	<header>
		<h1><span class="title">{{ page.title }}</span> <span class="date inner_subhead">{{ page.date | date: "%-1m/%-1d/%y" }}</span></h1>
		<div class="author hide">By {{ site.author }}</div>
	</header>

	{{ content }}

</article>

<div class="blog_navigation">
	<a href="/blog/archive" class="button" aria-label="Browse the blog archive">Browse the blog archive <i class="ss-icon ss-standard" aria-hidden="true">&#x27A1;</i></a>
	<a href="https://itunes.apple.com/us/app/long-day-day-planner/id1062689795?ls=1&mt=8&at=11l5Li" class="button" aria-label="Download my app Long Day">Download my app Long Day <i class="ss-icon ss-standard" aria-hidden="true">📱</i></a>
</div>